---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import removeDashes from "@/utils/remove-dashes.ts";
import ArrowLeft from "@/components/ArrowLeft.astro";

export async function getStaticPaths() {
    const days = await getCollection("days");

    return days.map((day) => ({
        params: { slug: day.slug },
        props: { day },
    }));
}

const { day } = Astro.props;

const { Content } = await day.render();
---

<Layout title={removeDashes(day.slug).toUpperCase() + " | Daily Code"}>

    <header class="border-zinc-800  border-b p-2 text-xs text-neutral-500 flex justify-between items-center">
        <a href="/" class="text-sm text-neutral-500 hover:text-white transition-colors w-fit"><ArrowLeft width="20" height="20"/></a>
        <h1 class=" uppercase font-pirata-one text-white text-sm">Daily Code</h1>
        <span class=" uppercase">{removeDashes(day.slug)}</span>
    </header>

    <section class="container mx-auto max-w-3xl px-4 py-2 flex flex-col gap-2">
        <h1 class="text-2xl font-bold">{day.data.title}</h1>
        <p class="text-sm text-neutral-500 text-pretty">{day.data.description}</p>
        <Content />
    </section>

</Layout>