---
import limitText from "@/utils/limit-text.ts";
import removeDashes from "@/utils/remove-dashes.ts";

type Props = {
  title: string;
  slug: string;
  className?: string;
};

const { title, slug, className } = Astro.props;

const displaySlug = removeDashes(slug);
const shortTitle = limitText(title, 25);
---

<a
  href={slug}
  class:list={[
    className,
    "flex justify-between uppercase px-2 text-xs border border-zinc-800 border-t-0 first:border-t hover:bg-black opacity-80 hover:opacity-100 transition-all text-neutral-400 hover:text-white",
  ]}
>
  <span class="scramble">{shortTitle}</span>
  <span class="scramble w-14">{displaySlug}</span>
</a>
