---
const year = new Date().getFullYear();
---

<footer class="border-zinc-800 border-x p-2 text-xs text-neutral-500 flex justify-center items-center border-t">
    <p>© {year} <a href="https://himel.studio" target="_blank" class="text-neutral-500 hover:text-white transition-colors">himel.studio</a>. Almost all rights reserved. </p>
</footer>