<div  class="container mx-auto max-w-3xl px-4 py-10 flex flex-col items-center justify-center">
    <h class="text-6xl sm:text-7xl md:text-8xl lg:text-[9rem] font-bold text-center font-pirata-one">
        Daily Code
    </h>
    <p class="text-xs sm:text-sm text-neutral-400 text-pretty italic mt-4 max-w-2xl">
        DailyCode es mi forma de practicar lógica de programación. Es lo que más
        me cuesta porque si no lo practico, se me olvida. Así que creé este
        proyecto para subir cada día un ejercicio que haya resuelto. Mi objetivo
        es mejorar en esto y poder aplicarlo en mis proyectos.
    </p>
</div>
