<div
    class="container mx-auto max-w-3xl px-4 py-10 flex flex-col items-center justify-center"
>
    <h1 class="text-6xl sm:text-7xl md:text-8xl lg:text-[9rem] font-bold text-center font-pirata-one">
        Daily Code
    </h1>
    <p class="text-xs sm:text-sm text-neutral-600 text-pretty italic mt-4  max-w-2xl">
        DailyCode es mi forma de practicar mi lógica de programación. La lógica
        de programación es lo que siempre me cuesta porque se me acaba olvidando
        por que no la practico. Así que he decidido crear un proyecto donde iré
        subiendo cada día un ejercicio de lógica de programación que haya
        resuelto ese día. Mi objetivo es poder mejorar mi lógica de programación
        y poder aplicarla en mis proyectos.
    </p>
</div>