---
import "../styles/global.css";
import "@fontsource/pirata-one";
import "@fontsource/geist-sans";
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import { SEO } from "astro-seo";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Daily Code",
  description = "DailyCode es una forma de practicar lógica de programación.",
} = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />

    <ClientRouter />

    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: "https://daily-code-gamma.vercel.app/favicon-16x16.png",
          url: "https://daily-code-gamma.vercel.app/favicon-16x16.png"
        },
      }}
      twitter={{
        card: "summary_large_image",
        creator: "@himelstudio",
        site: "@himelstudio",
        title: "Daily Code",
        description: "",
        image: "https://daily-code-gamma.vercel.app/og.png",
        imageAlt: "Banner de Daily Code",
      }}
      ,
    />
  </head>
  <body class="min-h-screen bg-neutral-950 text-white opacity-80">
    <div
      class="w-full mx-auto container lg:max-w-4xl md:max-w-3xl flex flex-col justify-center min-h-screen px-6 sm:px-10 lg:px-10 no-scrollbar"
    >
      <main class="flex-1 flex-col flex no-scrollbar border-zinc-800 border-x">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
